doctype html
html(lang="tr")
  include ../partials/head
  style. 
    a {
      text-decoration: none;
    }

  body
    include ../partials/navbar

    .container
      nav.mt-3(aria-label="breadcrumb")
        ol.breadcrumb
          h3.li.breadcrumb-item.active(aria-current="page") Users
          h3.li.breadcrumb-item: a(href="/adminpanel/contents")  Contents
          h3.li.breadcrumb-item: a(href="/adminpanel/addcontents") Add Content

      if query 
        .alert(class="alert-success", role='alert')
          | The user has been deleted successfully. 
      table.table.table-bordered.table-striped
        thead
          tr
            th ID
            th Name
            th Email
            th Role
            th Actions

        tbody
          each user in users
            tr
              td= user.id
              td= user.username
              td= user.email
              td= user.role
              td
                a.btn.btn-danger(href=`/adminpanel/kullanicisil/${user.slugUrl}`) Delete
                a.btn.btn-primary.ms-1(href=`/adminpanel/roldegistir/${user.slugUrl}`) Change Role
    script(src="../static/javascripts/script.js")